<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
</head>
<body>
    <div class="container">
        <div class="nav">
            <div class="header1">
                
                <div class="icon-logo">
                    <img class="icon_container1"
                     src="/vs_icons/WhatsApp Image 2025-01-23 at 12.54.20 PM (2).jpeg" alt="#Time">
                     <span class="span_container1">
                        Opening hour<br>mon-fri, 9:00am-4:00pm
                     </span>
                </div> 

                <div class="icon-logo">
                     <img class="icon_container2"
                     src="/vs_icons/WhatsApp Image 2025-01-23 at 12.54.20 PM (3).jpeg" alt="#Phone">
                     <span class="span_container2">Call us<br>+91XXXXXXXXX</span>
                </div> 

                 <div class="icon-logo">
                     <img class="icon_container3"
                     src="" alt="#Mail">
                     <span class="span_container3">Email-us<br>vs@gmail.com</span>
                </div> 

                 <div class="icon-logo">
                     <img class="icon_container4"
                      src="/vs_icons/WhatsApp Image 2025-01-23 at 12.54.20 PM (1).jpeg" alt="#Address">
                      <span class="span_container4" >Address<br>Your Location,city</span>
                 </div>
            </div>
            
        </div>
       
        <div class="nav2">
            <div class="header2">
                <img class="logo-png" src="/img/Screenshot_20250116_073206 (1).png" alt="#">
                <a class="h2" href="#">HOME</a>
                <a class="h2" href="#">ABOUT</a>
                <a class="h2" href="#">TEAM</a>
                <a class="h2" href="#">PROJECT</a>
                <a class="h2" href="#">CONTACT</a>
                <a class="h2" href="#">CAREER</a>
            </div>
        </div>

        <div class="image-container">
            <img class="hero-img" src="/img/6b2d5dd3-cae5-4eac-84c6-070e49ee6a6f.jpg"
             alt="#">
            <div class="text-overlay">
                <p>Varad Siddhi</p>
                <p style="color: yellow;">Construction</p>
                <p class="para1">Pvt. ltd. Construction company which takes a<br>
                    Tender from Government , like Dam </p>
                    <div class="button-group">
                        <a href="#start" class="About-button">About us</a>
                        <a href="#tour" class="Contact-button">Contact us</a>
                    </div>
            </div>

             

         </div>
    </div>

</body>
</html>